@charset "UTF-8";

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* GENERAL SETTINGS */

html, body {
    height: 100vh;
    width: 100vw;

}

body {
    background-image: linear-gradient(to top, rgb(0, 32, 119), rgb(0, 21, 78), rgb(0, 10, 36) 60%);
    background-repeat: no-repeat;
    background-size: cover;


}

.flex {
    display: flex;

}

/* MAIN */

main {
    height: 100%;
    width: 100%;

}

main div.canvas {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

main canvas {
    image-rendering: pixelated;
    border: 5px solid black;

}

main div.canvas > p {
    margin-top: 20px;
    color: white;
    font-size: 1.2em;

}
